* {
  margin: 0;
  padding: 1px;
}

.img-circle {
    border-radius: 50%;
    object-fit: cover;
}

.vertical-align {
    display: flex;
    align-items: center;
}

body, html {
    height: 100%;
}

h1, h2, h3 {
  color: white;
}

.header {
  height: 350px;
  vertical-align: middle;
}
.header-image {
    height: 300px;
    width: 300px;
}

.transparent-background {
  opacity: 0.92;
}

.container-fluid {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}


.section-content {
  margin: 50px;
}
