* {
  margin: 0;
  padding: 1px;
}

.img-circle {
    border-radius: 50%;
    object-fit: cover;
}

.vertical-align {
    display: flex;
    align-items: center;
}

body, html {
    height: 100%;
    /*padding-top: 70px;*/
}

h1, h2 {
  color: white;
  font-size: 90px;
  text-align: center;
  margin-top: 70px;
  font-family: 'Rubik', sans-serif;
}

h3 {
  margin-top: 25px;
  margin-left: 15px;
  font-size: 32px;
}
p {
  font-size: 20px;
}

.header {
  height: 350px;
  vertical-align: middle;
}
.header-image {
    height: 300px;
    width: 300px;
}

.transparent-background {
  opacity: 0.90;
}

.container-fluid {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}
.skills-list {
    margin: 20px;
}
.section-container {
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 10px;
    background-color: rgba(255,255,255,0.82);
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.fa {
  font-size: 64px;
}

.logo {
  width: 100px;
  height: 100px;
  float: left;
}

.thumb {
  width: 250px;
  height: 400px;
}
.thumb-library {
  text-align: center;
  margin: auto;
}
#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}
